* {
    position: relative;
}

html {
    height: 100%;
}

body {
    height: 100%;

    background-color: $color-bg-body;
    background-image: url('../img/bg.png');

    font-family: $font-body;
    font-size: $u*2/3;
    line-height: 3/2;
}
