<!doctype html>
%html{:lang => "en"}
    %head
        %meta{:charset=>"UTF-8"}
        %meta{:"http-equiv"=>"X-UA-Compatible",:content=>"IE=edge"}
        %title egasimus :: web engineer
        %meta{:name=>"description",
              :content=>"Personal portfolio of Adam Avramov."}
        %meta{:name=>"viewport",
              :content=>"width=device-width, initial-scale=1"}
        %link{:rel=>"stylesheet", :href=>"css/style.css"}
        %script
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-42286014-1', 'egasimus.github.io');
            ga('send', 'pageview');

    %body
        .header
            .logo{:"aria-label"=>"egasimus: the one-man web army"}
            .call-to-action
                I will soon be available for freelance work.
                %a.button{:href=>"mailto:fallenblood@gmail.com"}
                    Contact me
